.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: whitesmoke;
  color: black;
}

h1 {
  color: #ff8f1c;
}

i {
  color: #ff8f1c;
}